__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data and Models
data/raw/*.csv
models/saved/*.joblib

# Graph cache (DO NOT COMMIT THIS, it is too large)
graph/*.graphml

# Streamlit
.streamlit/

# OS and IDE
.DS_Store
.idea/
.vscode/

# Project specific
cache/
debug_api.py
*.csv
